<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bishe.mapper.BronzeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bishe.entity.Bronze">
        <id column="id" property="id" />
        <result column="bronze_name" property="bronzeName" />
        <result column="bronze_describe" property="bronzeDescribe" />
        <result column="bronze_image" property="bronzeImage" />
        <result column="bronze_prov" property="bronzeProv" />
        <result column="bronze_birth" property="bronzeBirth" />
        <result column="bronze_country" property="bronzeCountry" />
        <result column="bronze_from" property="bronzeFrom" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bronze_name, bronze_describe, bronze_image, bronze_prov, bronze_birth,bronze_country,bronze_from
    </sql>

</mapper>
